@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Noto Sans JP",sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
header {
    border-top: 15px solid #2D64AF;
    max-height: 150px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 90px;
    max-width: 960px;
    margin: 0 auto;
}
.header-logo img {
    width: 220px;
}
.header-right {
    font-size: 40px;
    color: #2D64AF;
}
nav {
    max-width: 960px;
    margin: 0 auto;
}
nav ul {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    margin-bottom: 15px;
}
nav ul li {
    text-align: center;
    box-shadow: 0 7px 10px 0 #00000040;
    background-color: white;
    width: 33%;
    line-height: 60px;
    font-size: 18px;
}
nav ul li a {
    display: block;
}
nav ul li:hover {
    cursor: pointer;
}
nav ul li:active {
    background-color: #E9EEF6;
}
.mainvisual {
    height: calc(100vh - 150px);
    background-size: cover;
}
.wrapper {
    max-width: 1700px;
    margin: 0 auto;
}

.slider-container {
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}
.slideimg {
    position: absolute;
    height: calc(100vh - 150px);
    inset: 0;
    opacity: 0;
    background-size: cover;
    animation: slideAnime 9s infinite;
}
.slideimg:nth-of-type(1) {
    background-image: url('img/mv_01.png');
    animation-delay: 0s;
}
.slideimg:nth-of-type(2) {
    background-image: url('img/mv_02.png');
    animation-delay: 3s;
}
.slideimg:nth-of-type(3) {
    background-image: url('img/mv_03.png');
    animation-delay: 6s;
}

@keyframes slideAnime {
    0%,63%,100% {
        opacity: 0;
    }
    20%,33% {
        opacity: 1;
    }
}

.message {
    background-image: url('img/home_bg.png');
    background-size: cover;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    padding: 200px 0;
}
.section-title {
    font-size: 32px;
    font-weight: normal;
    padding-bottom: 13px;
    margin-bottom: 100px;
    border-bottom: 3px solid #494F51;
    display: inline-block;
    color: #494F51;
}
.message p {
    color: #494F51;
    margin-bottom: 50px;
    font-size: 18px;
}
footer {
    background-color: #2D64AF;
    width: 100%;
}
.footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 100px 0;
}
.footer-wrapper p {
    color: white;
    font-size: 17px;
}
.footer-wrapper p:first-child {
    margin-bottom: 20px;
}
.footer-logo img {
    width: 120px;
    margin-right: 50px;
}
.text {
    text-align: center;
    color: white;
    font-size: 13px;
    padding-bottom: 15px;
}
.contents {
    background-image: url('img/job-title.png');
    max-width: 1000px;
    height: 160px;
    background-size: cover;
    margin: 0 auto;
}
.contents-title {
    color: white;
    text-align: center;
    font-size: 40px;
    line-height: 160px;
}

.access {
    max-width: 800px;
    margin: 70px auto;
    font-size: 18px;
}

.access dl {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
}

.access dl dt, .access dl dd {
    box-sizing: border-box;
}

.access dl dt {
    width: 30%;
    border-top: 1px solid #999999;
    padding: 30px 0;
}

.access dl dd {
    width: 70%;
    padding: 30px 0;
    border-top: 1px solid #999999;
}

.access dl dt:nth-of-type(1),
.access dl dd:nth-of-type(1) {
    border-top: none !important;
}
.map {
    margin-top: 20px;
    display: block !important;
}
.map-sp {
    display: none !important;
}

.answer {
    display: none;
    padding: 20px 0;
}
.parent {
    border-bottom: 2px dotted #999999;
    padding: 20px 0 ;
    position: relative;
}
.parent:last-child {
    border-bottom: none;
}

.question {
    display: inline-block;
    cursor: pointer;
    position: relative;
    max-width: 800px;
    transition: all 0.3s ease-in;
    width: 100%;
}

.question::after {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: url('img/plus.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 40%;
    left: 95%;
    transition: all 0.3s ease-in;
}
.menu {
    max-width: 800px;
    margin: 50px auto 100px;
}
#box {
    padding: 20px 0;
}
.title-box {
    box-shadow: 0 7px 10px 0 #00000040;
    background-color: white;
    padding: 20px 0;
    display: block;
}
.title-box::after {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: url('img/minus.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 40%;
    left: 95%;
}

.colors {
    margin-top: 20px;
    background-color: #F3F8FF;
    font-size: 15px;
    font-style: italic;
}
.colors-a {
    margin-top: 20px;
}

.type {
    background-color: #F3F8FF;
    margin-top: 20px;
    padding: 20px;
}
.type-title {
    margin-bottom: 20px;
}
dl li {
    position: relative;
    padding: 5px 0;
    font-weight: bold;
}
dl li::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 0.2em;
    height: 0.2em;
    background-color: black;
    border-radius: 50%;
    top: 45%;
    left: -10px;
}
dl {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
}
dl dt {
    width: 30%;
}
dl dd {
    width: 70%;
}
.merrit {
    background-color: #F3F8FF;
    margin-top: 20px;
    padding: 20px;
}
.merrit p {
    margin-bottom: 20px;
}
.merrit ol {
    padding: 0 20px;
}
.merrit ol li {
    position: relative;
}
.merrit ol li::before {
    counter-increment: number;
    content: counter(number);
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    border-radius: 50%;
    font-size: 13px;
    text-align: center;
    line-height: 1.2;
    top: 20%;
    left: -20px;
}